.AirbnbCard-whole {
    border: 1px solid black;
    padding: 1.5%;
    width: 20%;
    cursor: pointer;
    background-color: lightblue;
    margin: 1.5rem 0;
}

.AirbnbCard-imageCont {
    display: flex;
    flex-direction: column;
}

.AirbnbCard-image {
    border: 1px solid black;
}

.AirbnbCard-infoCont {
    margin-top: 1rem;
}

.AirbnbCard-snipet {
    text-align: left;
    font-style: italic;
    display: inline-block;
    margin-right: 1.25rem;
}

.AirbnbCard-activity {
    font-size: 2rem;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;

}

.AirbnbCard-stars {
    color: lightgoldenrodyellow;
    
}

.AirbnbCard-cost {
    font-size: .75rem;
}

.AirbnbCard-reactions {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.AirbnbCard-stars:hover {
    color: gold;
    background-color: lemonchiffon;
    cursor: pointer;
    box-shadow: 0 0 2rem;
}

.AirbnbCard-btn {
    cursor: pointer;
    outline: none;
    font-size: 1.75rem;
    background-color: lemonchiffon;
    border-radius: 13px;
    color: mediumorchid;
    width: 4.5rem;
    height: 3.25rem;
}

.AirbnbCard-btn:hover {
    background-color: darkblue;
    font-size: 2.25rem;
    width: 5rem;
    height: 3.75rem;
    color: white;
    box-shadow: .5rem .5rem lemonchiffon;
}

.AirbnbCard-btn:active {
    transform: translate(.25rem, .25rem);
    box-shadow: .25rem .25rem lemonchiffon;
}