.TripCard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 325px;
    margin: 1.5rem 0;
    background-color: orchid;
    border: 1px solid black;
}

.TripCard-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.TripCard-input {
    background-color: lemonchiffon;
    width: 250px;
    height: 30px;

}

.TripCard-img {
    background-color: lemonchiffon;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}